Repository osmosis-labs/osmosis-frontend, pull requests merged in 2022-12, with the labels that each got.

#1059 Remove 'blocked' IBC xfer Status
  packages/stores/src/queries-external/ibc/status-by-id.ts
  packages/web/localizations/en.json
  packages/web/localizations/es.json
  packages/web/localizations/fr.json
  packages/web/localizations/ko.json
  packages/web/localizations/pl.json
  packages/web/localizations/tr.json
  packages/web/localizations/zh-cn.json
  packages/web/localizations/zh-tw.json
  packages/web/modals/ibc-transfer.tsx
Labels: enhancement

#1018 Update ECH IBC Channels
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1089 DARC now unstable
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1095 Disable DIG
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1097 add gauge 30144
  packages/web/config/feature-flag.ts
Labels: pool/asset

#1092 feat: Update galaxy chain rpc, rest endpoints
  packages/web/config/chain-infos.ts
Labels: pool/asset

#1099 Add WMATIC.axl
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/integrations/axelar/source-chain-config.ts
  packages/web/public/tokens/wmatic.svg
Labels: pool/asset

#1103 Add CMST
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/cmst.png
Labels: pool/asset

#1106 Fix ECH price
  packages/web/config/price.ts
Labels: pool/asset

#1108 Re-enable DARC IBC
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1113 IST to Main
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1114 Add IMV
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/imversed.svg
Labels: pool/asset

#1117 Unstable Ixo
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1102 Add MEDAS
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/medas.png
  packages/web/public/tokens/medas.svg
Labels: pool/asset

#1118 Update IMV price from 864 spot to 866 spot
  packages/web/config/price.ts
Labels: pool/asset

#1119 Add PHMN CW20 token
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/public/tokens/phmn.png
  packages/web/public/tokens/phmn.svg
Labels: pool/asset

#1107 Add arable gauge
  packages/web/config/feature-flag.ts
Labels: pool/asset

#1123 Correcting Medasdigital chain Name
  packages/web/config/chain-infos.ts
Labels: pool/asset

#1115 Add AMBER (Secret SNIP-20 token) to frontier
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/public/tokens/amber.png
  packages/web/public/tokens/amber.svg
Labels: pool/asset

#1083 OSMO price and buy button in sidebar
  packages/stores/src/queries-external/store.ts
  packages/stores/src/queries-external/token-data/index.ts
  packages/stores/src/queries-external/token-data/types.ts
  packages/stores/src/queries-external/token-historical-chart/index.ts
  packages/stores/src/queries-external/token-historical-chart/types.ts
  packages/web/components/assets/coins-icon.tsx
  packages/web/components/assets/credit-card-icon.tsx
  packages/web/components/chart/sparkline.tsx
  packages/web/components/layouts/main.tsx
  packages/web/components/main-menu.tsx
  packages/web/components/navbar-osmo-price.tsx
  packages/web/components/skeleton-loader.tsx
  packages/web/integrations/transak/use-transak-modal.ts
  packages/web/localizations/en.json
  packages/web/localizations/es.json
  packages/web/localizations/fr.json
  packages/web/localizations/ko.json
  packages/web/localizations/pl.json
  packages/web/localizations/tr.json
  packages/web/localizations/zh-cn.json
  packages/web/localizations/zh-tw.json
  packages/web/package.json
  packages/web/styles/globals.css
  packages/web/tailwind.config.js
  yarn.lock
Labels: design 🎨

#1127 Unverified DSM
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1128 Unverified DARC
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1094 Re-enable Terra Classic tokens LUNA, USTC
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1124 added bze external gauges in web feature-flag
  packages/web/config/feature-flag.ts
Labels: pool/asset

#1133 Fix Kujira Suggest Chain
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
Labels: bug, pool/asset

#1098 Move gasPriceStep to feeCurrency
  packages/stores/src/ui-config/fake-fee-config.ts
  packages/web/config/chain-infos.ts
Labels: enhancement

#1135 Fix IXO Chain ID
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1139 Revert "Unverified DSM"
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1137 Revert "Fix IXO Chain ID"
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1121 Add BUSD.axl
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/integrations/axelar/source-chain-config.ts
  packages/web/public/tokens/busd.png
Labels: pool/asset

#1138 added Romanian translations
  packages/web/localizations/dayjs-locale-ro.js
  packages/web/localizations/ro.json
  packages/web/stores/user-settings/language.tsx
Labels: 🌎 localization

#1144 add 30230 stATOM/ATOM STRD gauge
  packages/web/config/feature-flag.ts
Labels: pool/asset

#1151 SCRT endpoint from SCRT Network to Keplr
  packages/web/config/chain-infos.ts
Labels: pool/asset

#1152 Hotfix
  packages/web/components/trade-clipboard/index.tsx
  packages/web/hooks/window/use-token-swap-query-params.ts
  packages/web/localizations/en.json
  packages/web/localizations/es.json
  packages/web/localizations/fr.json
  packages/web/localizations/ko.json
  packages/web/localizations/pl.json
  packages/web/localizations/ro.json
  packages/web/localizations/tr.json
  packages/web/localizations/zh-cn.json
  packages/web/localizations/zh-tw.json
Labels: bug

#1143 Add additional USDC withdraw Networks
  packages/web/config/ibc-assets.ts
  packages/web/integrations/axelar/source-chain-config.ts
Labels: pool/asset

#1149 Add IBCX metadata for testnet
  packages/web/config/chain-infos.ts
  packages/web/public/tokens/ibcx.svg
Labels: pool/asset

#1156 added 7 and 14 days duration gauges for BZE
  packages/web/config/feature-flag.ts
Labels: pool/asset

#1158 Re-enable IOV
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1159 Add WMATIC to main
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1163 add updated REBUS gauges
  packages/web/config/feature-flag.ts
Labels: pool/asset

#1053 fix the translation of "sharesAvailableIn"
  packages/web/localizations/zh-cn.json
Labels: 🌎 localization

#1051 Add HongKongese(zh-hk) translation
  packages/web/localizations/dayjs-locale-zh-hk.js
  packages/web/localizations/zh-hk.json
  packages/web/stores/user-settings/language.tsx
Labels: 🌎 localization

#1178 Update External Incentives Gauges list
  packages/web/config/feature-flag.ts
Labels: pool/asset

#1183 Update osmo/lamb 14days gauge id
  packages/web/config/feature-flag.ts
Labels: pool/asset

#1146 Gets transfer fee by query instead of by config
  packages/web/integrations/axelar/hooks/index.ts
  packages/web/integrations/axelar/hooks/use-transfer-fee-query.ts
  packages/web/integrations/axelar/source-chain-config.ts
  packages/web/integrations/axelar/transfer.tsx
  packages/web/integrations/axelar/types.ts
  packages/web/modals/bridge-transfer.tsx
  packages/web/package.json
  yarn.lock
Labels: enhancement, developer-qol 💻

#1186 Fix token select in pool detail page
  packages/stores/src/ui-config/trade-token-in-config.ts
  packages/web/components/trade-clipboard/index.tsx
Labels: bug
