Repository osmosis-labs/osmosis-frontend, pull requests merged in 2023-09, with the labels that each got.

#2099 Asset Integrations: Fix ATOM testnet
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#2067 Asset Integrations: CTK verified
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#2082 Asset Intergrations: Add Wormhole assets SUI, APT, SOL, BONK, USDT.hole
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/apt-dm.svg
  packages/web/public/tokens/bonk.png
  packages/web/public/tokens/dai.hole.svg
  packages/web/public/tokens/sol.svg
  packages/web/public/tokens/sui.svg
  packages/web/public/tokens/tbtc.hole.svg
  packages/web/public/tokens/usdc.hole.svg
  packages/web/public/tokens/usdt.hole.svg
  packages/web/public/tokens/wbtc.hole.svg
  packages/web/public/tokens/weth.hole.svg
  packages/web/public/tokens/wstETH.hole.svg
Labels: pool/asset

#2087 Asset Integrations: Add XION from xiontestnet
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/public/tokens/burnt.png
Labels: pool/asset

#2109 Asset Integrations: Add PASG Price
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/price.ts
Labels: pool/asset

#2108 Asset Integrations: Update Wormhole asset pricing
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/price.ts
  packages/web/public/tokens/usdt.png
  packages/web/public/tokens/usdt.svg
Labels: pool/asset

#2106 Asset Integrations: Add MNTA from Kujira
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/mnta.svg
Labels: pool/asset

#2110 Use data services for CL balances, add initial tick/ current tick buffer
  packages/math/src/pool/concentrated/__tests__/tick.spec.ts
  packages/math/src/pool/concentrated/tick.ts
  packages/pools/src/concentrated/fetch-tick-data-provider.ts
  packages/stores/src/price/pool.ts
  packages/stores/src/queries-external/filtered-pools/filtered-pools.ts
  packages/stores/src/queries-external/filtered-pools/types.ts
  packages/stores/src/queries-external/filtered-pools/utils.ts
  packages/stores/src/queries/pools/pool.ts
  packages/stores/src/queries/pools/pools.ts
  packages/stores/src/queries/pools/types.ts
  packages/stores/src/ui-config/trade-token-in-config.ts
  packages/stores/src/ui-config/user-upgrades.ts
  packages/web/components/swap-tool/index.tsx
  packages/web/config/feature-flag.ts
  packages/web/hooks/data/use-routable-pools.ts
  packages/web/hooks/window/use-token-swap-query-params.ts
  packages/web/pages/index.tsx
Labels: performance 💨

#2117 Asset Integrations: fix USK asset and pricing
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
Labels: pool/asset

#2126 fix: Update Pool Creation Fee to 1000 OSMO
  packages/web/components/complex/pool/create/index.ts
Labels: bug

#2116 Asset Integrations: Add USDC.wh and WETH.wh
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
Labels: pool/asset

#2114 Asset Integrations: Add DGL token
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/dgl.png
Labels: pool/asset

#2026 Asset Integrations: Add YieldETH
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/integrations/axelar/source-chain-config.ts
  packages/web/public/tokens/yieldeth.svg
Labels: pool/asset

#2135 Asset Integrations: Update Recommended Swap Assets
  packages/web/config/feature-flag.ts
Labels: pool/asset

#2128 Asset Integrations: Re-order Assets Page
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#2133 Asset Integrations: Add noble.USDC
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/public/tokens/noble.usdc.svg
  packages/web/public/tokens/usdc.axl.svg
Labels: pool/asset

#2144 Asset Integrations: Update Verified Assets (batch)
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#2151 Asset Integrations: Make DOT.comp Canonical
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/public/tokens/dot.axl.svg
Labels: pool/asset

#1939 Asset Integrations: Add XPLA
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/axpla.png
Labels: pool/asset

#2134 Asset Integrations: Add OIN from Sei
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/oin.png
Labels: pool/asset

#2165 fix: USDC.axl appearing as Quasar source
  packages/web/config/generate-chain-infos/source-chain-infos.ts
Labels: pool/asset

#2081 Asset Integrations: Add NEOK
  packages/web/config/generate-chain-infos/source-chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/neok.png
Labels: pool/asset
