Repository osmosis-labs/osmosis-frontend, pull requests merged in 2023-05, with the labels that each got.

#1536 Correct LIGHT exponent from 6 to 9
  packages/web/config/chain-infos.ts
Labels: pool/asset

#1545 Add ARB
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/integrations/axelar/source-chain-config.ts
  packages/web/integrations/axelar/types.ts
  packages/web/integrations/bridge-info.ts
  packages/web/integrations/ethereum/types.ts
  packages/web/public/networks/arbitrum.svg
  packages/web/public/tokens/arb.svg
Labels: pool/asset

#1552 Remove juno.PEPE
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1553 Add PEPE
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/integrations/axelar/source-chain-config.ts
  packages/web/public/tokens/pepe.svg
Labels: pool/asset

#1557 Update PEPE Price
  packages/web/config/chain-infos.ts
  packages/web/config/price.ts
Labels: pool/asset

#1561 Update CTK price (pool 1020)
  packages/web/config/chain-infos.ts
  packages/web/config/price.ts
Labels: pool/asset

#1562 Update PEPE Logo
  packages/web/config/chain-infos.ts
  packages/web/public/tokens/ethpepe.svg
  packages/web/public/tokens/pepe.svg
Labels: pool/asset

#1560 Cleanup tokens
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/pepec.png
Labels: pool/asset

#1558 Update README.md with Asset Listings section
  README.md
Labels: documentation

#1568 Update chain-infos.ts to add IBCX
  packages/web/config/chain-infos.ts
  packages/web/config/price.ts
Labels: pool/asset

#1570 Update Testnet Akash IBC Channels
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1564 Hotfix: display error if request pending while enabling wallet
  packages/stores/src/account/index.ts
  packages/web/components/alert/info.tsx
  packages/web/components/alert/toast.tsx
  packages/web/config/chain-infos.ts
  packages/web/config/price.ts
  packages/web/integrations/ethereum/metamask-utils.ts
  packages/web/integrations/ethereum/metamask.ts
  packages/web/integrations/ethereum/types.ts
  packages/web/integrations/wallets.ts
  packages/web/localizations/en.json
  packages/web/localizations/es.json
  packages/web/localizations/fa.json
  packages/web/localizations/fr.json
  packages/web/localizations/ko.json
  packages/web/localizations/pl.json
  packages/web/localizations/pt-br.json
  packages/web/localizations/ro.json
  packages/web/localizations/tr.json
  packages/web/localizations/zh-cn.json
  packages/web/localizations/zh-hk.json
  packages/web/localizations/zh-tw.json
  packages/web/modals/select-asset-source.tsx
  packages/web/pages/index.tsx
  packages/web/stores/assets/transfer-ui-config.ts
Labels: bug

#1579 Add ETH LSTs
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/integrations/axelar/source-chain-config.ts
  packages/web/public/tokens/cbeth.png
  packages/web/public/tokens/reth.png
  packages/web/public/tokens/sfrxeth.svg
  packages/web/public/tokens/wsteth.svg
Labels: pool/asset

#1595 Update LAMB status
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1598 Add Smaller PNGs
  packages/web/config/chain-infos.ts
  packages/web/public/tokens/mntl.png
  packages/web/public/tokens/pepe-circular.png
  packages/web/public/tokens/pepe.svg
  packages/web/public/tokens/usdt.png
  packages/web/public/tokens/usdt.svg
  packages/web/public/tokens/wbtc-with-letters.png
  packages/web/public/tokens/wbtc.png
Labels: pool/asset

#1608 Add Testnet QCK
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
Labels: pool/asset
