Repository osmosis-labs/osmosis-frontend, pull requests merged in 2023-02, with the labels that each got.

#1288 Update Canto chain-info
  packages/web/config/chain-infos.ts
Labels: pool/asset

#1283 Add polygon.USDC and avalanche.USDC
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/integrations/axelar/source-chain-config.ts
Labels: pool/asset

#1271 Publish Stage
  README.md
  inlang.config.js
  packages/pools/src/errors.ts
  packages/stores/src/bridge-history/index.ts
  packages/stores/src/bridge-history/types.ts
  packages/stores/src/queries/pools/pool.ts
  packages/stores/src/ui-config/errors.ts
  packages/stores/src/ui-config/manage-liquidity/add-liquidity.ts
  packages/stores/src/ui-config/trade-token-in-config.ts
  packages/web/components/assets/icon.tsx
  packages/web/components/assets/pool-assets-icon.tsx
  packages/web/components/buttons/arrow-button.tsx
  packages/web/components/buttons/button.tsx
  packages/web/components/buttons/icon-button.tsx
  packages/web/components/cards/bond-card.tsx
  packages/web/components/complex/add-liquidity.tsx
  packages/web/components/complex/transfer.tsx
  packages/web/components/control/icon-dropdown/icon-dropdown.tsx
  packages/web/components/control/icon-dropdown/index.ts
  packages/web/components/control/icon-dropdown/menu-dropdown-icon-item.tsx
  packages/web/components/control/icon-dropdown/menu-dropdown-icon.tsx
  packages/web/components/control/index.ts
  packages/web/components/control/language-select.tsx
  packages/web/components/control/switch.tsx
  packages/web/components/drawers/token-select-drawer.tsx
  packages/web/components/input/input-box.tsx
  packages/web/components/localization/translate-error.ts
  packages/web/components/main-menu.tsx
  packages/web/components/navbar/index.tsx
  packages/web/components/popover.tsx
  packages/web/components/table/transfer-history.tsx
  packages/web/components/tooltip/info.tsx
  packages/web/components/trade-clipboard/index.tsx
  packages/web/config/ibc-assets.ts
  packages/web/hooks/use-disclosure.ts
  packages/web/integrations/axelar/queries.ts
  packages/web/integrations/axelar/transfer-status-source.ts
  packages/web/localizations/en.json
  packages/web/localizations/es.json
  packages/web/localizations/fr.json
  packages/web/localizations/ko.json
  packages/web/localizations/pl.json
  packages/web/localizations/ro.json
  packages/web/localizations/tr.json
  packages/web/localizations/zh-cn.json
  packages/web/localizations/zh-hk.json
  packages/web/localizations/zh-tw.json
  packages/web/modals/base.tsx
  packages/web/modals/index.ts
  packages/web/modals/menu-options-icon.tsx
  packages/web/modals/profile.tsx
  packages/web/modals/settings.tsx
  packages/web/package.json
  packages/web/pages/api/active-gauges.ts
  packages/web/public/icons/close-dark.svg
  packages/web/public/icons/info.svg
  packages/web/public/icons/sprite.svg
  packages/web/stores/user-settings/hide-dust.tsx
  packages/web/stores/user-settings/language.tsx
  yarn.lock
Labels: release

#1293 Reduce upcoming gauge days
  packages/web/pages/api/active-gauges.ts
Labels: pool/asset

#1295 Remove duplicate assets
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1298 Add Mars price
  packages/web/config/chain-infos.ts
  packages/web/config/price.ts
Labels: pool/asset

#1294 Add MARS
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
Labels: pool/asset

#1305 wAVAX to Main
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1307 Re-enable IXO
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1306 Add WYND to Main
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1303 Add CNTO/USDC Pool #909
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/cnto.png
Labels: pool/asset

#1311 add stLUNA
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/stluna.svg
Labels: pool/asset

#1316 Move CNTO down to follow listing order
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1324 Hotfix
  packages/README.md
  packages/web/integrations/use-general-amount-config.ts
Labels: bug

#1321 add stEVMOS
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/stevmos.svg
Labels: pool/asset

#1328 sktATOM to MAIN
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1332 Move IXO back to main
  packages/web/config/ibc-assets.ts
Labels: pool/asset

#1338 Hotfix: Axelar Transfer: Fix insufficient fee bug
  packages/web/integrations/axelar/transfer.tsx
Labels: bug

#1339 Fix Planq symbol: PLANQ -> PLQ
  packages/web/config/chain-infos.ts
Labels: pool/asset

#1340 Fix: APR overflow
  packages/web/components/cards/bond-card.tsx
  packages/web/modals/profile.tsx
  packages/web/pages/pools/index.tsx
  packages/web/utils/formatter.ts
Labels: bug

#1341 Add NRIDE Token
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/config/price.ts
  packages/web/public/tokens/nride.svg
Labels: pool/asset

#1345 Add 8ball
  packages/web/config/chain-infos.ts
  packages/web/config/ibc-assets.ts
  packages/web/public/tokens/8ball.svg
Labels: pool/asset

#1351 Update Juno logo
  packages/web/public/tokens/juno.svg
Labels: pool/asset

#1354 Hotfix: stEVMOS routing, rate overflow
  packages/web/components/trade-clipboard/index.tsx
  packages/web/pages/index.tsx
  packages/web/pages/pools/index.tsx
Labels: bug

#1360 Upload new Logo for CNTO Token
  packages/web/public/tokens/cnto.png
Labels: pool/asset

#1362 Extend the "bridge.blockscape.network" withdraw/deposit urls with the website's new query parameters
  packages/web/config/ibc-assets.ts
Labels: pool/asset
